.wrapper {
  max-width: 600px;
  margin: 30px auto;
  font-family: "Quicksand", sans-serif;
}
.current-weather-section {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(220, 217, 249) 0%,
    rgb(172, 224, 217) 89.8%
  );
  border: 0px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.weather-forecast-section {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(220, 217, 249) 0%,
    rgb(172, 224, 217) 89.8%
  );
  border: 0px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  font-size: 13px;
}

.searchbar {
  border-radius: 5px;
  border-width: 1px;
}
.search-button {
  font-weight: 900;
  background-color: #7069aaa1;
  border-radius: 5px;
  border-width: 1px;
}

.location-button {
  background-color: #ace0d9;
  border-radius: 5px;
  border-width: 1px;
}

.date {
  font-size: 12px;
}
.current-temperature {
  font-size: 35px;
  font-weight: 500;
}

.description {
  font-size: 14px;
}
.description:first-letter {
  text-transform: capitalize;
}

.celcius {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast-temperature-min {
  color: rgb(109, 109, 120);
}

.weather-forecast-date {
  font-weight: 600;
}

h1 {
  font-size: 50px;
  font-weight: 700px;
  margin-top: 15px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  font-size: 9px;
}
